{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">AceAI Interview Buddy <i class="fas fa-robot"></i></h1>
        <p class="subtitle">Focusing on helping candidates ace their interviews with AI.</p>
        <div class="box">
            <form method="POST" action="{{ url_for('index') }}" onsubmit="showLoader()">
                <div class="field">
                    <label class="label" for="candidate_name">Candidate Name: <i class="fas fa-user"></i></label>
                    <div class="control">
                        <input class="input" type="text" id="candidate_name" name="candidate_name" placeholder="Enter your name" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="company_name">Company Name: <i class="fas fa-building"></i></label>
                    <div class="control">
                        <input class="input" type="text" id="company_name" name="company_name" placeholder="Enter the company name" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="job_role">Job Role: <i class="fas fa-briefcase"></i></label>
                    <div class="control">
                        <input class="input" type="text" id="job_role" name="job_role" placeholder="Enter the job role" required>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-link" type="submit">
                        <i class="fas fa-play"></i> Start Interview 🚀
                    </button>
                </div>
            </form>
            <div id="skeleton-loader" class="skeleton-loader"></div>
        </div>
        <div class="control">
            <button class="button is-link request-permission-button" id="request-permission-button">
                <i class="fas fa-microphone"></i> Request Audio Permission
            </button>
            <span id="check-mark" class="check-mark"><i class="fas fa-check-circle"></i></span>
        </div>
    </div>
</section>
{% endblock %}